html {
  background-color: black;
  font-family: verdana;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.top_link {
  color: aquamarine;
  font-size: 16px;
}
